/* You can add global styles to this file, and also import other style files */
html{
  font-family: 'Lucida Sans', 'Lucida Console', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body{
  display: flex;
  padding-inline: 20%;
}

app-root{
  width: 100%;
}
